@import url('https://unpkg.com/css.gg@2.0.0/icons/css/key.css');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Jersey+25&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  font-family: "Inter", sans-serif;
  scroll-padding: 0;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .min-h-screen {
    min-height: 100vh;
    min-height: 100svh;
  }
}




