@use "sass:math";

@function hex_hsl($hex) {
  // @return hsl(hex_hue($hex), hex_saturation($hex), hex_lightness($hex));
  $r: math.div(red($hex), 255);
  $g: math.div(green($hex), 255);
  $b: math.div(blue($hex), 255);

  $max: max($r, $g, $b);
  $min: min($r, $g, $b);
  $h: 0;
  $s: 0;
  $l: math.div($min + $max, 2);
  $d: 0;
  $s: 0;

  @if ($max ==$min) {
    $h: 0;
  } @else {
    $d: $max - $min;

    @if $l >0.5 {
      $s: $d / (2 - $max - $min);
    } @else {
      $s: $d / ($max + $min);
    }

    @if $max ==$r {
      $h: math.div((($g - $b) / $d), 6);
    } @else if $max ==$g {
      $h: math.div((($b - $r) / $d) + 2, 6);
    } @else {
      $h: math.div((($r - $g) / $d) + 4, 6);
    }
  }

  @return $h * 360 $s * 100% $l * 100%;
}

$blue: hex_hsl(#8b93ff);

.button,
[role="button"] {
  --disabled-bg: yellow;
  --current-bg: var(--color-b);

  padding: 0.5rem 2rem;
  border-radius: theme("borderRadius.xl");
  background: var(--current-bg);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  // background: #2dffc4;
  // color: black;

  @supports (background: color-mix(in srgb, black, white)) {
    --disabled-bg: color-mix(in srgb, currentColor 30%, gray 70%);
  }

  &:disabled {
    background: var(--disabled-bg);
    cursor: not-allowed;
  }

  &.ghost {
    background: none;
    border: 3px solid currentColor;
  }
}

header {
  padding: 0.75rem 2rem;
  background: white;
  color: black;
  min-height: 3.5rem;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),
    100px 100px 80px rgba(0, 0, 0, 0.03);
  border: 1px solid #d1d5db;

  & > .weekday {
    border-bottom: 1px solid #d1d5db;
    padding: 0.125rem;
  }

  & > .day {
    // border-bottom: 1px solid #d1d5db;
    // border-right: 1px solid #d1d5db;
    --signed-bg: theme("colors.blue.100");

    @keyframes show {
      to {
        opacity: 1;
      }
    }
    animation: show 80ms calc(var(--index) * 10ms) ease-in-out forwards;

    opacity: calc(var(--index) * 1%);
    padding: 0.25rem;
    text-align: center;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.signed-first {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: var(--signed-bg);
    }

    &.signed-last {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      background: var(--signed-bg);
    }

    &.signed-between {
      border-radius: 0;
      background: var(--signed-bg);
    }

    &.signed {
      background: var(--signed-bg);
    }

    &.active {
      position: relative;
      background: #3b82f6;
      color: white;
      font-weight: bold;
      box-shadow: 3.2px 5.2px 5.3px rgba(0, 0, 0, 0.012),
        10.7px 17.4px 17.9px rgba(0, 0, 0, 0.018),
        48px 78px 80px rgba(0, 0, 0, 0.03);

      // &::before {
      //     content: '';
      //     position: absolute;
      //     width: 100%;
      //     height: 100%;
      //     border: 2px solid #3b82f6;
      //     border-radius: 50%;
      //     box-shadow: 0 0 3px 3px #3b82f63f;
      // }
    }

    &.disabled,
    &:disabled {
      color: #d1d5db;
      pointer-events: none;
    }
  }
}

h1:not(.native) {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

h2:not(.native) {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

*:not(.native) {
  &:is(textarea) {
    border: 1px solid #eee;
    padding: 0.5rem;
    border-radius: theme("borderRadius.md");
  }

  &:is(label).input {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &:is(input) {
    border: 1px solid #eee;
    padding: 0.5rem;
    border-radius: theme("borderRadius.md");
  }

  &:is(dialog) {
    border: 1px solid #eee;
    padding: 1rem;
    border-radius: theme("borderRadius.md");
    min-width: 20rem;

    &::view-transition-new {
      animation: fadein 5s;
    }
  }

  &:is(blockquote) {
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: theme("borderRadius.md");

    &.info {
      &::before {
        content: "!";
        font-family: monospace;
        width: 18px;
        height: 18px;
        margin-right: 0.5rem;
        font-weight: 700;
        border: 1px solid currentColor;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      background: theme("colors.blue.100");
      color: theme("colors.blue.700");
    }

    &.warning {
      background: theme("colors.yellow.100");
      color: theme("colors.yellow.700");

      &::before {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        content: "⚠";
        width: 18px;
        height: 18px;
        font-size: larger;
      }
    }
  }
}

.switch {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 1rem;
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 21e3px;

  label {
    &:has(input:checked) {
      background: white;
      color: black;
    }
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 21e3px;

    input {
      position: absolute;
      display: none;
    }
  }
}

@keyframes fadein {
  from {
    background: red;
  }

  to {
    background: yellow;
  }
}

.char {
  display: inline-block;
  padding: 0.25rem;
  margin: 0 1px;
  aspect-ratio: 1;
  background: hsl($blue);
}

.meter {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  --emoji: "💔";

  &:has(label.bad input:checked) {
    --emoji: "💔";
  }

  &:has(label.mod input:checked) {
    --emoji: "❤️‍🩹";
  }

  &:has(label.good input:checked) {
    --emoji: "❤️";
  }

  &:has(label.great input:checked) {
    --emoji: "❤️‍🔥";
  }

  &:has(label input:checked) label {
    scale: 0.9;
  }

  &::after {
    content: var(--emoji);
    font-size: larger;
  }

  label {
    position: relative;
    background: theme("colors.gray.300");
    padding: 0.25rem 1rem;
    transition: 325ms;
    will-change: scale, translate, border;
    border-radius: 0.25rem;
    border: 1px solid transparent;

    --a-bg: theme("colors.blue.500");

    &.bad {
      --a-bg: theme("colors.red.500");
    }

    &.mod {
      --a-bg: theme("colors.yellow.500");
    }

    &.good {
      --a-bg: theme("colors.blue.500");
    }

    &.great {
      --a-bg: theme("colors.green.500");
    }

    &:has(input[type="radio"]:focus) {
      border: 1px solid red;
    }

    &:has(input[type="radio"]:checked) {
      scale: 1.1;
      translate: 0 -10%;
      background: var(--a-bg);
      color: white;
    }

    & > input[type="radio"] {
      opacity: 0;
      // visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:user-invalid {
      background: green;
    }
  }
}

.select {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  justify-content: space-between;
  user-select: none;

  &.vertical {
    flex-direction: column;
    align-items: stretch;
  }

  label {
    background: theme("colors.gray.50");
    border-radius: theme("borderRadius.md");
    border: 1px solid theme("colors.gray.300");
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:has(input[type="radio"]:checked) {
      border-color: theme("colors.blue.500");
    }

    input[type="radio"] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.gg-info {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px;
}

.gg-info::after,
.gg-info::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentColor;
  left: 7px;
}

.gg-info::after {
  bottom: 2px;
  height: 8px;
}

.gg-info::before {
  height: 2px;
  top: 2px;
}

.intro-icon {
  position: relative;
  margin-bottom: 140px;
  .circle {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 70%;
    &:first-child {
      translate: 20% 0;
      background: #2dffc4;
      box-shadow: 0px 0px 90px 10px rgba(45, 255, 196, 0.9);
      opacity: 50%;
    }
    &:last-child {
      background: #836fff;
      box-shadow: 0px 0px 90px 10px rgba(130, 111, 255, 0.9);
      translate: -20% 0%;
    }
  }
}

.tabs {
  padding: 0.5rem 1rem;
  background: #2dffc4;
  // width: fit-content;
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 1rem;
  border-radius: 0.25rem;
  button {
    isolation: isolate;
    position: relative;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background: inherit;
    font-weight: bold;
    transition: 325ms;
    flex: 1;

    .indecator {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      z-index: -1;
      border-radius: 0.25rem;
    }
  }
}

.exp_bg {
  background-color: #836fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 50%;
  transition: 325ms;
  will-change: opacity;
}

.gg-user {
  display: block;
  transform: scale(var(--ggs, 1));
  box-sizing: border-box;
  width: 12px;
  height: 18px;
}

.gg-user::after,
.gg-user::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid;
}

.gg-user::before {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  top: 0;
  left: 2px;
}

.gg-user::after {
  width: 12px;
  height: 9px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 9px;
}

.date-picker-backdrop {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.date-picker-dialog {
  position: fixed;
  z-index: 90;
  background: var(--color-c);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 1rem;
  border-radius: theme("borderRadius.2xl");
  min-width: 20rem;
}

.container {
  width: 200px;
  height: 100px;
  background: #eee;
  border-radius: 40px;
  margin: auto;
  overflow: hidden;
}

.scroller {
  width: 600px;
  height: 100px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  scroll-snap-type: x mandatory;
  gap: 3px;

  .item {
    width: 600px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100px;
  }
}

